* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: green;
  color: white;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  background-color: rgb(245, 182, 66);
}

#more-info {
  color: purple;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 10px;
}

select {
  cursor: pointer;
}

li {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;
  background-color: rgb(249 176 12);
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 10px;
  width: 220px;
  text-align: center;
  position: relative;
}

#edit-form {
  display: flex;
  justify-content: center;
}

#info-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;
  background-color: rgb(211, 99, 99);
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 10px;
  width: 220px;
}

button[type="submit"] {
  background-color: red;
  color: yellow;
  font-weight: bold;
}

#close-form {
  background-color: red;
  color: yellow;
  font-weight: bold;
}

#new-project {
  background-color: red;
  color: yellow;
  font-weight: bold;
}

#project-name {
  font-size: 1rem;
  color: red;
}

.todo {
  display: flex;
  flex-direction: column;
  background-color: rgb(142, 142, 240);
  color: white;
  height: auto;
  width: 350px;
  font-size: 1rem;
  padding: 10px;
  gap: 10px;
}

.todo p {
  display: block;
}

.todo span {
  color: black;
  font-weight: bold;
}

#todo-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo p {
  background-color: rgb(93, 93, 192);
  flex: 2 1 0;
}

.remove-todo {
  background-color: red;
  color: yellow;
  font-weight: bold;
}

.edit-todo {
  background-color: red;
  color: yellow;
  font-weight: bold;
}

#midbar {
  display: flex;
  align-items: center;
}

#midbar h2 {
  text-align: center;
  font-size: 1rem;
}

button {
  cursor: pointer;
}

#show-form {
  font-size: 1rem;
  padding: 5px;
  font-weight: bold;
  background-color: green;
  color: white;
  border-radius: 10px;
  border: 1px solid black;
}

#info {
  padding: 10px;
}

#show-projects {
  font-size: 1rem;
  padding: 5px;
  font-weight: bold;
  background-color: green;
  color: white;
  border-radius: 10px;
  border: 1px solid black;
}

.cancel-info {
  cursor: pointer;
  width: fit-content;
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px 10px;
  background-color: blue;
  color: yellow;
}

#info-card {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

#project-box {
  width: 350px;
  background-color: rgb(204, 84, 204);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 20px;
  color: blue;
  font-style: italic;
  font-size: 2.5rem;
}

.project-card {
  width: 300px;
  min-height: 100px;
  background-color: rgb(117, 19, 117);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: white;
  gap: 30px;
  padding: 10px;
  flex-direction: column;
  text-align: center;
}

.remove-project {
  background-color: red;
  color: yellow;
  font-weight: bold;
}

#show-todos {
  font-size: 1rem;
  padding: 5px;
  font-weight: bold;
  background-color: green;
  color: white;
  border-radius: 10px;
  border: 1px solid black;
}

#submit-edit,
#cancel-edit {
  background-color: red;
  color: yellow;
  font-weight: bold;
}
