* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #49498c;
  color: white;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #e6e6e2;
  margin-bottom: 40px;
}

header div {
  display: flex;
  border: none;
  border-bottom: none;
  padding: 10px 0px 0px 0px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

header button {
  font-size: 1rem;
  padding: 5px;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
}

header div button.open {
  background-color: #49498c;
  color: white;
}

#more-info {
  cursor: pointer;

  font-size: 1.5rem;
}

select {
  cursor: pointer;
}

li {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;
  background-color: #9c9dd0;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 20px;
  width: 320px;
  text-align: center;
  border-radius: 10px;
}

form input,
form select {
  border-radius: 10px;
  border: none;
  padding: 5px;
}

form input:focus {
  outline: none;
}

#form-head {
  display: flex;
  justify-content: space-between;
}

.edit-project {
  background-color: #e6e6e2;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1rem;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  align-self: center;
}

#edit-project-form {
  display: flex;
}

#edit-project-btn {
  background-color: #e6e6e2;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1rem;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  align-self: center;
}

#cancel-edit-project-btn {
  background-color: rgb(0, 0, 0);
  color: yellow;
  font-weight: bold;
  width: fit-content;
  align-self: center;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}

#edit-form {
  margin: 10px auto;
}

#info-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;
  background-color: #393a54;
  color: rgb(255 255 255);
  border-radius: 10px;
  font-weight: bold;
  padding: 20px;
  width: 220px;
  border: 1px solid black;
}

button[type="submit"] {
  background-color: #e6e6e2;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  width: fit-content;
  align-self: center;
}

#close-form {
  font-size: 1rem;
  color: yellow;
  background-color: black;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  width: fit-content;
  align-self: center;
}
#new-project {
  background-color: red;
  color: yellow;
  font-weight: bold;
}

#project-name {
  font-size: 1rem;
  color: yellow;
  background-color: black;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  width: 140px;
  padding: 5px;
  margin: 5px;
}

.todo {
  display: flex;
  flex-direction: column;
  background-color: #9c9dd0;
  color: white;
  height: auto;
  width: 320px;
  font-size: 1rem;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
}

.todo p {
  display: block;
  overflow-wrap: break-word;
}

h3 {
  overflow-wrap: break-word;
}

.todo span {
  color: black;
  font-weight: bold;
  text-align: center;
}

#todo-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.todo p {
  background-color: rgb(255 255 255);
  flex: 2 1 0;
  color: black;
  padding: 10px;
  border-radius: 10px;
}

.remove-todo {
  background-color: rgb(0, 0, 0);
  color: yellow;
  font-weight: bold;
  width: fit-content;
  align-self: center;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}

.edit-todo {
  background-color: #e6e6e2;
  color: rgb(0 0 0);
  font-weight: bold;
  width: fit-content;
  align-self: center;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}

#midbar {
  display: flex;
  align-items: center;
}

#midbar h2 {
  text-align: center;
  font-size: 1rem;
}

button {
  cursor: pointer;
}

#info {
  padding: 10px;
}

.cancel-info {
  cursor: pointer;
  width: fit-content;
  border: 1px solid rgb(228, 224, 19);
  border-radius: 50%;
  padding: 5px 10px;
  background-color: rgb(0, 0, 0);
  color: yellow;
}

#info-card {
  position: absolute;
  top: 10rem;
}

#project-box {
  width: 320px;
  background-color: #9c9dd0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 20px;
  color: #000000;
  font-style: italic;
  font-size: 2.5rem;
  border-radius: 10px;
  margin-bottom: 10px;
}

.project-card {
  width: 300px;
  min-height: 100px;
  background-color: #393a54;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: white;
  gap: 10px;
  padding: 10px;
  flex-direction: column;
  text-align: center;
}

.remove-project {
  background-color: rgb(0, 0, 0);
  color: yellow;
  font-weight: bold;
  font-size: 1rem;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  align-self: center;
}

#submit-edit {
  background-color: #e6e6e2;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  align-self: center;
  padding: 5px 10px;
  font-size: 1rem;
}
#cancel-edit {
  background-color: rgb(0, 0, 0);
  color: yellow;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  align-self: center;
  padding: 5px 10px;
  font-size: 1rem;
}
