* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

form {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1rem;
}

form label {
  font-size: 2rem;
}

button[type="submit"] {
  background-color: red;
  color: yellow;
  font-weight: bold;
  height: 50px;
  width: 120px;
  font-size: 1.5rem;
}

.todo-container {
  width: 200px;
  height: 100px;
  display: block;
  background-color: rgb(47, 0, 255);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
