* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

form {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}

button[type="submit"] {
  background-color: red;
  color: yellow;
  font-weight: bold;
}

#new-project {
  background-color: red;
  color: yellow;
  font-weight: bold;
}

#project-name {
  font-size: 2rem;
  color: red;
}

.todo {
  display: flex;
  flex-direction: row;
  background-color: rgb(142, 142, 240);
  color: white;
  height: auto;
  width: 300px;
  font-size: 1rem;
  padding: 10px;
  gap: 10px;
}

#todo-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo p {
  background-color: rgb(93, 93, 192);
  flex: 2 1 0;
}

.remove-todo {
  background-color: red;
  color: yellow;
  font-weight: bold;
  align-self: flex-start;
}
