* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#more-info {
  font-size: 2.5rem;
  color: purple;
  font-weight: bold;
  cursor: pointer;
}

select {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  background-color: rgb(211, 99, 99);
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 10px;
  width: 220px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button[type="submit"] {
  background-color: red;
  color: yellow;
  font-weight: bold;
}

#close-form {
  background-color: red;
  color: yellow;
  font-weight: bold;
}

#new-project {
  background-color: red;
  color: yellow;
  font-weight: bold;
}

#project-name {
  font-size: 2rem;
  color: red;
}

.todo {
  display: flex;
  flex-direction: column;
  background-color: rgb(142, 142, 240);
  color: white;
  height: auto;
  width: 350px;
  font-size: 1rem;
  padding: 10px;
  gap: 10px;
}

.todo p {
  display: block;
}

.todo span {
  color: black;
  font-weight: bold;
}

#todo-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo p {
  background-color: rgb(93, 93, 192);
  flex: 2 1 0;
}

.remove-todo {
  background-color: red;
  color: yellow;
  font-weight: bold;
  align-self: flex-start;
}

.edit-todo {
  background-color: red;
  color: yellow;
  font-weight: bold;
  align-self: flex-start;
}

#midbar {
  display: flex;
  align-items: center;
}

#midbar h2 {
  font-size: 2rem;
  text-align: center;
}

button {
  cursor: pointer;
}

#show-form {
  font-size: 1.3rem;
  padding: 20px;
  font-weight: bold;
  background-color: green;
  color: white;
  border-radius: 10px;
  border: 1px solid black;
}

#info {
  padding: 10px;
}
