* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

form {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1rem;
}

form label {
  font-size: 2rem;
}

form input {
  height: 25px;
  border-radius: 10px;
}

button[type="submit"] {
  background-color: red;
  color: yellow;
  font-weight: bold;
  height: 50px;
  width: 120px;
  font-size: 1.5rem;
}

#project-name {
  font-size: 3rem;
  color: red;
}
